<br>
  <div class="row">
    <div class="left col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <li>
        <p><%= link_to blog.title, blog_path(blog) %></p>
    </div>
    <div class="right col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <%= link_to "Edit Blog", edit_blog_path(blog),
            class: "btn btn-warning btn-xs", id: "index_edit_blog",
            remote: true %>
        <%= link_to "Delete", blog_path(blog), class: "btn btn-danger btn-xs",
            id: "index_delete_blog", :data => { :confirm => "You sure?",
                                                :method => "Delete" } %>
      </li>
    </div>
  </div>
<br>
