<span><h1>Blog</h1><%= link_to "Post to Blog",
                       new_blog_path,
                       class: "new btn btn-success btn-xs",
                       remote: true %></span>
<ul id="blogs_list">
  <%= render(@blogs) %>
</ul>
