<br>
<li>
  <%= link_to skill.name, skill_path(skill) %> |
  <%= skill.description %>
  <%= link_to "Edit Skill", edit_skill_path(skill),
      class: "btn btn-warning", id: "index_edit_skill", remote: true %>
  <%= link_to "Delete", skill_path(skill), class: "btn btn-danger",
      id: "index_delete_skill", :data => { :confirm => "You sure?",
                                           :method => "Delete" } %>
</li>
<br>
