<span><h1>Skills</h1><%= link_to "Add Skill",
                         new_skill_path,
                         id: "new_skill_link",
                         class: "btn btn-default",
                         remote: true %></span>

<ul id="skills_list">
  <%= render(@skills) %>
</ul>
