<span><h1>Skills</h1><%= link_to "Add Skill",
                         new_skill_path, class: "new btn btn-success btn-xs",
                         id: "new_skill_link", remote: true %></span>

<ul id="skills_list">
  <%= render(@skills) %>
</ul>
