 @import "bootstrap-sprockets";
 @import "./variables";
 @import "bootstrap";
 @import "./bootswatch";

h1 {
 display: inline;
}

#index_edit_skill,
#index_delete_skill,
#index_edit_blog,
#index_delete_blog {
  float: right;
}

#new_skill_link,
#new_blog_link {
  float: right;
}

.right {
  float: right;
}

.avatar {
  clear: right;
}

#img {
  background: url('gene.jpg');
}
