 @import "bootstrap-sprockets";
 @import "./variables";
 @import "bootstrap";
 @import "./bootswatch";

h1 {
 display: inline;
}

.index {
  float: right;
}

.new {
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.avatar {
  clear: right;
}

.circular {
  width: 275px;
  height: 275px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('gene.jpg') no-repeat;
  background-position:50% 50%;
  background-size: 275px 275px;
  margin-top: 50px;
}

#contact {
  padding-left: 40px;
  padding-top: 50px;
}

.content {
  padding-top: 50px;
}

.navbar-right {
  padding-top: 15px;
}

.glyphicon {
  padding-left: 5px;
}
