 @import "bootstrap-sprockets";
 @import "./variables";
 @import "bootstrap";
 @import "./bootswatch";

h1 {
 display: inline;
}

.index_skill {
  float: right;
}

#new_skill_link {
  float: right;
}

.right {
  float: right;
}

.avatar {
  clear: right;
}

#img {
  background: url('gene.jpg');
}
